<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Calcular Pago en Almacén</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="form">
        <mat-form-field>
          <mat-label>Precio Unitario:</mat-label>
          <input matInput type="number" [(ngModel)]="precioUnitario">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cantidad:</mat-label>
          <input matInput type="number" [(ngModel)]="cantidad">
        </mat-form-field>
      </div>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button (click)="calcularMontoAPagar()">Calcular Pago</button>
    </mat-card-actions>
  
    <mat-card-footer>
      <p *ngIf="montoAPagar > 0">Monto a Pagar: {{montoAPagar | currency: "S/."}}</p>
    </mat-card-footer>
  </mat-card>
  
